table{
    border-collapse: collapse;
}

table tr th, td{
    border-bottom: 1px solid;
    padding: 3px 5px;
}
th{
    text-align: center;
}
.pink{
    background-color: rgb(250, 177, 189);
}
.blue{
    background-color: rgb(79, 79, 180);
}

      .red{
     background-color: rgb(219, 91, 91);
      }
  
